{% extends 'exchange/base.html' %}

{% load static %}

{% block title %}Dashboard Principal | Fintech{% endblock %}

{% block content %}


<div class="container-dashboard">
	
	<!-- aside section start -->
	<aside>
		
		<div class="top">
			<div class="logo">
				<h2>C<span class="danger"> Titulo</span></h2>
			</div>

		</div>

	</aside>
    <!-- aside section end -->
    <!-- main section star -->
    <main>
    	
    	<h1>Main Section</h1>

    </main>
    <!-- main section end -->
    <!-- aside right start -->
  
  	<div class="right">
  		
  		<h1>Right</h1>

  	</div>

    <!-- aside right end -->

</div>


{% endblock %}